body{
  background: #071C2F;

  font-family: 'Lexend Zetta', serif;
}

.header{
 //background-color: #0E2BBF;
  position: fixed;
  display: grid;
  grid-template-columns: 1fr auto;
  width: calc(100vw - 4rem);
  top:0;
  padding:0 2rem;
  height: 5rem;
  align-items: center;
  //border-bottom: 0.5px solid white;
  box-shadow: 0 2px 8px rgba(255, 255, 255, 0.1);
}
.nav{
  height: calc(100vh - 10rem);
  width: 100vw;
  //height: 100vh;
  .nav-item{
    display: flex;
    padding: 1rem 2rem;
    /*border-bottom: white 1px solid;*/
    align-items: center;
  }
}

.main{
  height: calc(100vh - 10rem);
  width: calc(100vw - 4rem);
  margin-top: 5rem;
  margin-left: 2rem;
  margin-right: 2rem;
}
.grid-two-auto{
  display: grid;
  grid-template-columns: 1fr auto;
  gap:1rem;
}
.grid-two-reverse{
  display: grid;
  grid-template-columns: auto 1fr;
  gap:1rem;
}
.grid-two{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap:1rem;
}
.block{
  //background-color: #1a1a1a;
  height: 20vh;
  width: 100%;
}
.w-100{
  width: 100%;
}
.hero{
  background-color: #0E2BBF;
  border-radius: 1rem;
  width: 100%;
}
.items-center{
  display: flex;
  align-items: center;
}
.align-center{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.icon{
  border: #1a1a1a solid 1px;
  height: 100%;
  width: 1rem;
}

.margin-top{
  margin-top: 1rem;
}

.align-end{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: right;

}
.bottom {
  position: fixed;
  bottom: 0;
  width: calc(100vw - 4rem);
}

.logout{
  background-color: #0E2BBF;
  color: white;
}

.margin-btm{
  margin-bottom: 1rem;
}